.pagination {
  padding: 2rem 0;
  display: flex;
}

.m-0 {
  margin: 0 !important;
}

.br-8 {
  border-radius: 8px !important;
}

.w-80 {
  width: 80%;
}

.page-number {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.page-number-list {
  padding: 0.5rem 1rem;
  border: 1px solid white;
  border-radius: 0.5rem;
  background-color: white;
  color: var(--primary-color);
}

.page-number-list:hover {
  background-color: #f5f5f5;
}

.page-number-list.active {
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
  color: white;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

.btn-disable {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}
