.admin-ui-navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 1;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  padding: 0.25rem 1.5rem;
  position: fixed;
  top: 0;
  background-color: white;
  color: var(--primary-color);
}

.admin-ui-navigation a {
  text-decoration: none;
  color: var(--primary-color);
}
